:root {
    --main-padding: 10px;
    --main-border-radius: 5px;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: var(--main-border-radius);    
}

header {
    border: 1px solid black;
    border-radius: var(--main-border-radius);
    background-color: gray;
    padding: var(--main-padding);
}

nav {
    border: 1px solid black;
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
}

main {
    border: 1px solid black;
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
}

footer {
    border: 1px solid black;
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    background-color: lightslategray;
}

h1 {
    text-transform: uppercase;
}

.header-image {
    height: 100px;
    margin-left: 20px;
}

.header-image img {
    height: 100%;
}

.header-menu {    
    list-style-type: none;
}

.header-menu > li {
    display: inline;
    margin-right: 15%;
}

.footer-image {
    height: 40px;
    margin-left: 0px;
}

.footer-image img {
    height: 100%;
}